<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Details</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<%- include('../partials/header') %>
<body>

    <section id="show-page">
        <div>Airline: </div>
        <div><%= flight.airline %></div>
        <div>Airport: </div>
        <div><%= flight.airport %></div>
        <div>Flight Number: </div>
        <div><%= flight.flightNo %></div>
        <div>Departure Date: </div>
        <div><%= flight.departs %></div>
        <div> Tickets:</div>
        <ul>




          <div class="row font-weight-bold justify-content-center">
            <h4>Ticket(s)</h4>
          </div>
          <div class="row justify-content-center">

              <% attachedTickets.forEach(function (t) { %>

                  <button type="button" disabled value="<%= t.id %>"><%= t.seat %>

            <% }); %>
                  

          </div>
        
          
        </ul>

      </section>
    
    <br><br><h2>Destinations</h2>

    <form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
      <label>Destinations:</label>
      <textarea name="airport"></textarea>
      <label>Arrival Date:
          <input type="date" name="arrival">
        </label><br>
        <input type="submit" value="Add destination">
    </form>
    

        <table>
          <thead>
            <tr>
              <th>Destination</th>
              <th>Arrival Date</th>
            </tr>
          </thead>
          <tbody>
            <% flight.destinations.forEach(function(dest) { %>
              <tr>
                <td><%= dest.airport %></td>
                <td><%= dest.arrival %></td>
              </tr>
            <% }); %>
          </tbody>
        </table>

        <a href="/flights/<%= flight._id %>/tickets/new">Add New Ticket</a>




</body>
</html>